body {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


#pageHeader {
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    border-bottom: 1px solid black;
    width: 100%;
}

    #pageHeader #title {
        margin-top: 5px;
        margin-left: 10px;
        font-family: Consolas,'Lucida Console',Arial;
        font-weight: 600;
        font-size: 14pt;
        display: inline-block;
    }

    #pageHeader .headerLinks {
        float: right;
        display: inline-block;
        font-size: 10pt;
        margin-top: 5px;
        margin-right: 10px;
        cursor: pointer;
        color: blue;
    }

    #pageHeader #programButton {
    }

#pageWrapper {
    padding-top: 40px;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
}

#sideBar {
    width: 300px;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    clear: both;
}

    #sideBar #searchBox {
        width: 100%;
        height: 24px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        border: 0;
    }

    #sideBar #resultView {
        width: 100%;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 10pt;
        cursor: default;
        border-top: 1px solid black;
    }

        #sideBar #resultView .matchCollection {
            overflow-y: hidden;
            overflow-x: hidden;
        }

        #sideBar #resultView .matchCollectionTitle {
            height: 20px;
            padding-left: 10px;
            /*padding-top: 2px;
            padding-bottom: 2px;*/
            font-weight: 800;
            cursor: pointer;
            background-color: rgb(232, 232, 232);
        }

        #sideBar #resultView ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #sideBar #resultView li {
            width: 700px;
            height: 20px;
            list-style: none;
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
            cursor: pointer;
        }

            #sideBar #resultView li:hover {
                background-color: rgb(232, 232, 232);
            }

#calendarViews {
    position: absolute;
    left: 310px;
    width: auto;
    height: 100%;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    font-size: 9pt;
    overflow: hidden;
}

    #calendarViews .singleCalendar {
        position: relative;
        left: 0px;
        top: 15px;
        margin-left: auto;
        margin-right: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        display: inline-block;
        clear: both;
    }

        #calendarViews .singleCalendar .splitted {
            width: 50%;
        }

    #calendarViews table {
        overflow-y: hidden;
        position: absolute;
    }

    #calendarViews td {
        height: 15px;
        width: 0px;
        margin: 0;
        padding: 0;
    }

    #calendarViews .calendarItem {
        border: 1px solid black;
        padding: 2px;
        background: white;
        position: absolute;
        overflow: hidden;
    }

        #calendarViews .calendarItem .itemInfo {
            width: 80%;
            display: inline-block;
            clear: both;
        }

        #calendarViews .calendarItem .removeItem {
            display: none;
            width: 20%;
            vertical-align: top;
        }

        #calendarViews .calendarItem.hover {
            background-color: rgb(232, 232, 232);
        }

            #calendarViews .calendarItem.hover .removeItem {
                display: inline-block;
                cursor: pointer;
                color: red;
            }

    #calendarViews tr.calendarHeader {
        text-align: center;
        height: 20px;
    }

    #calendarViews tr.line td {
        border-top: 1px solid #999;
    }

    #calendarViews td.timeDisplay {
        width: 40px;
        vertical-align: top;
        text-align: left;
    }

#courseInfo {
    width: 300px;
    position: absolute;
    left: 302px;
    top: 0;
    border: 1px solid black;
    font-size: 10pt;
    background-color: #fff;
    display: none;
    padding: 5px;
    overflow-wrap: break-word;
    opacity: 0.8;
    max-height: 400px;
    overflow: auto;
}

    #courseInfo div {
        margin-top: 2px;
        margin-bottom: 2px;
    }

    #courseInfo .section {
        display: inline-block;
        margin-left: 2px;
        margin-right: 2px;
        cursor: pointer;
        color: green;
    }

        #courseInfo .section.conflict {
            color: red;
        }

#programInfo {
    border: 1px solid black;
    position: absolute;
    top: 30px;
    left: 70%;
    display: none;
    width: 200px;
    font-size: 10pt;
    background-color: white;
    opacity: 0.8;
}

    #programInfo #programSearchBox {
        width: 100%;
        border: 0;
    }

    #programInfo #programSearchResult {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
        border-top: 1px solid black;
    }

        #programInfo #programSearchResult li {
            list-style: none;
            padding: 2px;
            border-bottom: 1px solid black;
            cursor: pointer;
        }

            #programInfo #programSearchResult li:hover {
                color: white;
                background-color: blue;
            }

    #programInfo #programDetail {
        display: none;
    }
